@import '../../Container';
@import '../../GlobalVariables';

.container {
  @extend .container;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.work__filter {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.work__filter__btn {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  padding: 8px 24px;
  border-radius: 16px;
  font-size: 14px;
  margin-top: 4px;
}

.work__filter__btnActive {
  background-color: black;
  color: white;
}

.work__images {
  font-family: 'Inter', 'sans-serif';
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.work__images__product {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
