@import 'Container';
@import 'GlobalVariables';

@font-face {
  font-family: 'poppins';
  src: url('../public/fonts/Poppins-Regular.ttf') format('truetype'),
    url('../public/fonts/Poppins-Medium.ttf') format('truetype');
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button,
a,
svg {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $mainColor;
}

svg {
  display: flex;
}
