@import 'Container';
@import 'GlobalVariables';

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Opti Regular */
@font-face {
  font-family: 'Opti';
  src: url('../public/fonts/KaiseiOpti-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* K2D Bold */
@font-face {
  font-family: 'K2D';
  src: url('../public/fonts/K2D-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* K2D Thin Italic */
@font-face {
  font-family: 'K2D';
  src: url('../public/fonts/K2D-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic; /* Thin Italic style */
}

@font-face {
  font-family: 'Karla';
  src: url('../public/fonts/Karla-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kavivanar';
  src: url('../public/fonts/Kavivanar-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button,
a,
svg {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $mainColor;
  padding-top: $navHeight;
}

svg {
  display: flex;
}
