@import '../../Container';
@import '../../GlobalVariables';

.container {
  @extend .container;
}

.newproject {
  font-family: 'Inter', 'sans-serif';
  padding: $sectionPadding 0;
}

.newproject__images__preview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 64px;
}

.newproject__images__preview__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
