@import '../../Container';
@import '../../GlobalVariables';

.container {
  @extend .container;
}

.featuredPieces {
  padding: $sectionPadding 0;
  overflow: hidden;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.head__header {
  font-family: 'opti', sans-serif;
  font-size: clamp(2rem, 4vw, 3rem);
}
