@import '../../Container';
@import '../../GlobalVariables';

.product {
  padding: $sectionPadding 0;
  font-family: 'karla', 'sans-serif';
}

.container {
  @extend .container;
  display: flex;
}

.product__imageDiv {
  background-color: #f4f4f2;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 64px;
  flex-basis: 50%;
}

.product__imageDiv__text {
  display: flex;
  gap: 32px;

  div {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
}

.product__imageDiv__images {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.product__imageDiv__images__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__imageDiv__images__preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product__textDiv__details {
  div {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;

    svg {
      flex-shrink: 0;
    }
  }
}

.product__textDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  flex-basis: 50%;
  padding: 64px;

  hr {
    height: 1px;
    border: none;
    background-color: #efefef;
  }
}

.product__textDiv__head {
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 8px;
  }

  p {
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.product__textDiv__description,
.product__textDiv__extendedDescription {
  color: #65635f;
}

.product__textDiv__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product__textDiv__details__add {
  background-color: #161412;
  border: 0px solid transparent;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.imgButton {
  width: 80px;
  height: 80px;
  overflow: hidden;
  background-color: transparent;
  border: none;
}

.product__imageDiv__images__preview__img {
  @extend .imgButton;
}
.product__imageDiv__images__preview__imgActive {
  @extend .imgButton;

  border: 2px solid #b1b0b0;
  padding: 8px;
}

.product__textDiv__details__terms {
  font-size: 14px;
}

.product__textDiv__details__price {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .product__imageDiv__images {
    flex-wrap: wrap;
  }

  .product__imageDiv__images__preview {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
  }

  .product__imageDiv {
    padding: 32px;
    order: 2;
  }

  .product__textDiv {
    padding: 32px;
  }

  .product__imageDiv__images {
    flex-wrap: wrap;
  }

  .product__imageDiv__images__preview {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }
}
