@import '../../Container';
@import '../../GlobalVariables';

.container {
  @extend .container;
}

.products {
  padding: $sectionPaddingBig 0;
  font-family: 'K2D', 'sans-serif';
}

.productsDiv {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 64px;
}

.productsDiv__product {
  transition: 0.2s;
}

.productsDiv__product:hover {
  background-color: #efefef;
}

.productsDiv__product__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productsDiv__product__reviews {
  font-family: 'Poppins', 'sans-serif';
  margin: 20px 0;
}

.productsDiv__product__img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 8px;
}

.productsDiv__product__author {
  color: #65635f;
  margin-top: 4px;
}

.productsDiv__product__price {
  color: #65635f;
}
